<div class="main-chat-top">
  <div class="left-header">
    <div class="main-chat-name">hogefuga</div>
  </div>
  <div class="right-header">
    <div class="chat-close">チャットを終了する
    </div>
  </div>
</div>
<div class="main-chat-middle">
  <div class="message-contents">
    <div class="message-content">
      <div class="message-name">Tom</div>
      <div class="message-date">2020/3/31(Wed) 12:43:30</div> 
    </div>
    <div class="message">おはよう</div>
  </div>
</div>
<div class="main-chat-bottom">
    <div class="form-input">
      <input type="text" placeholder="type a message" class="text">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
    <input type="submit" value="送信" class="submit">
</div>


