<div class="side-bar-top">
  <div class="user-name">
    <%= link_to(current_user.name,edit_user_path(current_user)) %>
  </div>
  <div class="create-chat">チャットを作成する</div>
</div>
<div class="side-bar-bottom">
  <div class="chat-room">
    <div class="room">techroom1</div>
  </div>
</div>